<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token" value="Njk2NzU5NzQwMDAwMjM5Njc3.XotgaQ.tjUg2-v4httglHW7ZARXCNcuB1E" />
    <add key="guild8_id" value="694863208367783987" />
    
    <add key="govor_id" value="694863208799797275" />
    <add key="pisal_id" value="694863208799797274" />
    <add key="test_id" value="696795809299038329" />
    <add key="home_id" value="701024969529753600" />
    <add key="mafia_id" value="699678018934931566" />
    
    <add key="ruslan_id" value="694872380144746586" />
    <add key="zafar_id" value="695640709960564786" />
    <add key="andrey_id" value="693089894087786567" />
    <add key="vadim_id" value="264755024024961025" />
    <add key="ortem_id" value="690889229407879188" />
    <add key="lera_id" value="691900969126199337" />
    <add key="lera2_id" value="534112719280799785" />
    <add key="nekit_id" value="490536244443480074" />
    
    <add key="score9929" value="0" />
    <add key="score7747" value="0" />
    <add key="score9852" value="0" />
    <add key="score5361" value="0" />
    <add key="score8691" value="0" />
    <add key="score6094" value="0" />
    <add key="score9559" value="0" />
    <add key="score7416" value="0" />
  </appSettings>
</configuration>
